<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Редактирование книги</title>
    <link th:href="@{/css/book_edit.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<form th:action="@{/books/edit}" method="post">
    <input type="hidden" name="id" th:value="${book.id}"/>

    <label for="id">ID</label>
    <input disabled type="text" id="id" th:value="${book.id}"/>

    <label for="title">Название</label>
    <input type="text" id="title" name="title" th:value="${book.title}" required/>

    <label for="author">Автор</label>
    <select id="author" name="authorId" required>
        <option value="">-- Выберите автора --</option>
        <option th:each="author : ${authors}"
                th:value="${author.id}"
                th:text="${author.firstName + ' ' + author.lastName}"
                th:selected="${author.id == book.author.id}">
        </option>
    </select>

    <label for="genres">Жанры</label>
    <select id="genres" name="genreIds" multiple required>
        <option th:each="genre : ${genres}"
                th:value="${genre.id}"
                th:text="${genre.name}"
                th:selected="${#lists.contains(book.genres, genre.id)}">
        </option>
    </select>

    <button type="submit">Сохранить изменения</button>
</form>
</body>
</html>